.product-detail-container {
  width: 80%;
  margin: 0 auto;
  margin-top: 100px;
}
.product-detail-container .content {
  display: flex;
}
.product-detail-container .content .content-left {
  width: 50%;
}
.product-detail-container .content .content-left img {
  width: 100%;
  border: 2px solid rgb(246, 246, 251);
}
.product-detail-container .content .content-right {
  width: 50%;
  padding: 20px;
}
.product-detail-container .content .content-right .name {
  font-size: 30px;
  font-weight: 700;
}
.product-detail-container .content .content-right .price {
  font-size: 24px;
  padding-bottom: 10px;
  border-bottom: 1px solid black;
}
.product-detail-container .content .content-right .color {
  margin: 10px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}
.product-detail-container .content .content-right .color .color-item {
  font-size: 14px;
  cursor: pointer;
  text-align: center;
  width: 20%;
  margin: 10px 20px;
  padding: 5px 10px;
  border: 1px solid black;
}
.product-detail-container .content .content-right .color .color-item.active {
  border: 3px solid black;
}
.product-detail-container .content .content-right .size {
  margin: 10px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}
.product-detail-container .content .content-right .size .size-item {
  font-size: 14px;
  text-align: center;
  width: 15%;
  margin: 10px 20px;
  padding: 5px 10px;
  border: 1px solid black;
  background-color: white;
  opacity: 0.5;
}
.product-detail-container .content .content-right .size .size-item.active {
  cursor: pointer;
  opacity: 1;
  border: 1px solid black;
}
.product-detail-container .content .content-right .size .size-item.picked {
  border: 3px solid black;
}
.product-detail-container .content .content-right .quantity {
  margin: 30px 30px;
  display: flex;
}
.product-detail-container .content .content-right .quantity .number-counter {
  display: flex;
  align-items: center;
}
.product-detail-container .content .content-right .quantity .counter-button {
  width: 30px;
  height: 30px;
  font-size: 18px;
  background-color: #f0f0f0;
  border: none;
  cursor: pointer;
}
.product-detail-container .content .content-right .quantity .counter-input {
  width: 60px;
  height: 30px;
  text-align: center;
  margin: 0 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
  font-size: 14px;
}
.product-detail-container .content .content-right .quantity .counter-input::-webkit-inner-spin-button,
.product-detail-container .content .content-right .quantity .counter-input::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.product-detail-container .content .content-right .quantity .counter-input:focus {
  outline: none;
  border-color: #007bff;
}
.product-detail-container .content .content-right .purchase {
  margin: 20px auto;
  display: flex;
  width: 100%;
  justify-content: space-around;
  text-align: center;
}
.product-detail-container .content .content-right .purchase .add-to-cart {
  padding: 10px 20px;
  border: 1px solid black;
  width: 40%;
  cursor: pointer;
}
.product-detail-container .content .content-right .purchase .buy {
  padding: 10px 20px;
  border: 1px solid black;
  width: 35%;
  cursor: pointer;
}
.product-detail-container .description {
  margin-top: 100px;
}
.product-detail-container .feedback-section {
  margin-top: 100px;
}
.product-detail-container .feedback-section .heading {
  text-align: center;
  font-size: 60px;
  font-weight: 600;
  color: rgb(51, 50, 50);
}
.product-detail-container .feedback-section .comments {
  margin-bottom: 100px;
  margin-top: 40px;
}
.product-detail-container .feedback-section .comments .item {
  display: flex;
  padding: 20px 30px;
  background-color: #f6f6fb;
  margin: 40px 0;
}
.product-detail-container .feedback-section .comments .item .name {
  width: 25%;
  padding: 0 0 0 24px;
  font-size: 24px;
}
.product-detail-container .feedback-section .comments .item .comment-content {
  width: 40%;
}
.product-detail-container .feedback-section .comments .item .comment-content .star {
  padding-bottom: 20px;
}
.product-detail-container .feedback-section .comments .item .comment-content .star .icon-star {
  margin: 0 6px 0 0;
  font-size: 20px;
  color: rgb(237, 237, 43);
}
.product-detail-container .feedback-section .comments .item .comment-content .comment-description {
  font-size: 20px;
}
.product-detail-container .feedback-section .comments .item .date {
  font-size: 20px;
  width: 30%;
  text-align: end;
}/*# sourceMappingURL=productDetailPage.css.map */